@page "/fetchdata"

<h3>File Uploader Example</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

<div class="card mb-4">
    <div class="card-header">Files Uploader</div>
    <div class="card-body ">
        <div class="dropzone @dropClass">
            <label>
                Drag and drop your files here <br />or click here to select your files
            </label>
            <InputFile OnChange="AddFilesToQueue"
                       @ondragenter="HandleDragEnter"
                       @ondragleave="HandleDragLeave"
                       disabled="@isUploading"
                       style="width:100%;height:200px;position:relative;top:-36px;margin-bottom:-40px;"
                       multiple />
        </div>
    </div>
</div>
@Result
